<script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>

<a-assets>
    <img id="reflection" src="https://raw.githubusercontent.com/mrdoob/three.js/r82/examples/textures/2294472375_24a3b8ef46_o.jpg">
    <img id="sky" src="https://raw.githubusercontent.com/mrdoob/three.js/r82/examples/textures/2294472375_24a3b8ef46_o.jpg">
</a-assets>

<a-scene>
    <a-box material="src:#reflection" depth="2" height="2" width="2">
        <a-animation attribute="rotation"
            dur="5000"
            fill="forwards"
            to="0 360 0"
            repeat="indefinite"></a-animation>
        <a-animation attribute="position"
            dur="5000"
            fill="forwards"
            from="-5 0 0"
            to="5 0 0"
            repeat="indefinite"></a-animation>
        <a-animation attribute="position"
            dur="5000"
            begin="5000"
            fill="forwards"
            from="5 0 0"
            to="-5 0 0"
            repeat="indefinite"></a-animation>
    </a-box>

    <a-sphere src="https://raw.githubusercontent.com/aframevr/sample-assets/master/assets/images/space/earth_atmos_4096.jpg" radius="2" 
        segments-height="100">
        <a-animation attribute="rotation"
            dur="5000"
            easer="linear"
            to="0 360 0"
            repeat="indefinite"></a-animation>
    </a-sphere>
    <a-light type="spot" color="white" intensity="2" angle="180" position="2 2 3"></a-light>
    <a-light type="point" color="magenta" position="-3 4 0"></a-light>
    <a-sky src="#sky"></a-sky>
    <a-camera position='0 0 3' user-height='0'></a-camera>
</a-scene>
